<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mostoriginaldudes.codingsabubackend.respository.LessonNoticeRepository">
  <select id="getLessonNoticeByLessonId" resultType="LessonNoticeDto">
    SELECT *
    FROM lesson_notice
    WHERE lesson_id = #{lessonId}
  </select>

  <insert
    id="createLessonNotice"
    useGeneratedKeys="true"
    keyProperty="id"
    keyColumn="id"
    parameterType="LessonNoticeRequestDto"
  >
    INSERT INTO lesson_notice(
     id
     ,lesson_id
     ,lesson_notice_article
     ) VALUES (
     id
     ,#{lessonId}
     ,#{lessonNoticeArticle}
     )
  </insert>
</mapper>