{
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 100,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "semi": true,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "parser": "typescript"
}
